.wrapper {
  display: flex;
  align-content: flex-start;
  max-width: fit-content;
  background-color: #0f5155;
  flex-wrap: wrap;
}

.imgDiv {
  flex: 1 1 auto;
  padding: 5px;
  margin: 10px;
}

.img {
  border-radius: 6px;
  display: block;
  margin: auto;
}

.loadingText {
  font-size: 25px;
}
